body {
	padding: 50px;
	font-size: 100%;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
     color: #222;
     text-align: center;
     background-color: #ffffff;
     outline: 10px solid black;

     position: absolute;
     height: 300px;
     width: 400px;
     top: 30%;
     left: 50%;
     transform: translate(-50%,-50%);
    }


.thema{
     font-size: 6ex;
     font-weight: 900;
}


input[type="button"] {
     appearance: none;
     -webkit-appearance: none;
     padding: 10px 20px;
     color: #fff;
     font-size: 86%;
     line-height: 1.0em;
     cursor: pointer;
     border: none;
     border-radius: 5px;
     background-color: #37a1e5;
}
input[type=button]:hover,
     button:hover {
     background-color: #2392d8;
}
 

